main{
    background-color: #eee;
}


header{
    text-align: center;
}
.image-div{
    background-color: #fff;
    text-align: center;   
}
img{
    
    height: auto;
    width: 50%;
}

.title{
    text-align: center;
 padding-bottom: 20px;
}

.timeline-div{
    width: 50%;
    margin: auto;
    /* text-align: center; */
}
.timeline p{
    line-height: 2rem;
    text-transform:capitalize;
}

.timeline p::before{
    content:"• ";
}

@media (max-width:700px) {
    .timeline-div{
        width: 80%;
        margin: auto;
}

img{
    
    height: auto;
    width: 100%
}
}
